@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-great-vibes: var(--font-great-vibes);
  --font-amiri: var(--font-amiri);
  --font-arima: var(--font-arima);
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
  --font-hello-paris: "Hello Paris", serif;
  --font-hello-paris-script: "Hello Paris Script", cursive;
  --font-hello-paris-extra: "Hello Paris Extra", serif;
  --font-tangerine: var(--font-tangerine);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --breakpoint-xs: 24rem;
  --background-image-hills: url('/bg-hills.webp');
  --background-image-rumah-gadang: url('/rumah-gadang.webp');
  --background-image-pattern-flower: url('/pattern-flower.webp');
  --background-image-pattern-batik: url('/pattern-batik.webp');
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9671 0.0087 26.0200);
  --foreground: oklch(0.4 0.09 27.09);
  --card: oklch(0.9671 0.0087 26.0200);
  --card-foreground: oklch(0.4 0.09 27.09);
  --popover: oklch(0.9671 0.0087 26.0200);
  --popover-foreground: oklch(0.1900 0.0300 26);
  --primary: oklch(0.3200 0.1162 12.4970);
  --primary-foreground: oklch(0.9671 0.0087 26.0200);
  --secondary: oklch(0.9200 0.0150 26);
  --secondary-foreground: oklch(0.3200 0.1162 12.4970);
  --muted: oklch(0.9200 0.0150 26);
  --muted-foreground: oklch(65.635% 0.00139 107.258);
  --accent: oklch(0.9200 0.0150 26);
  --accent-foreground: oklch(0.3200 0.1162 12.4970);
  --destructive: oklch(80.32% 0.09873 19.409);
  --destructive-foreground: oklch(0.9671 0.0087 26.0200);
  --border: oklch(0.8665 0.0262 26.56);
  --input: oklch(0.8800 0.0100 26);
  --ring: oklch(0.3200 0.1162 12.4970);
  --chart-1: oklch(0.3200 0.1162 12.4970);
  --chart-2: oklch(0.6000 0.1000 26);
  --chart-3: oklch(0.8000 0.0800 26);
  --chart-4: oklch(0.4000 0.0900 26);
  --chart-5: oklch(0.7000 0.0900 26);
  --sidebar: oklch(0.9400 0.0100 26);
  --sidebar-foreground: oklch(0.1900 0.0300 26);
  --sidebar-primary: oklch(0.3200 0.1162 12.4970);
  --sidebar-primary-foreground: oklch(0.9671 0.0087 26.0200);
  --sidebar-accent: oklch(0.8800 0.0100 26);
  --sidebar-accent-foreground: oklch(0.3200 0.1162 12.4970);
  --sidebar-border: oklch(0.8500 0.0100 26);
  --sidebar-ring: oklch(0.3200 0.1162 12.4970);
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: oklch(0.19 0.03 26);
  --shadow-2xs: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.03);
  --shadow-xs: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.03);
  --shadow-sm: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.05), 0rem 1px 2px -1px hsl(5.1616 42.8471% 8.6673% / 0.05);
  --shadow: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.05), 0rem 1px 2px -1px hsl(5.1616 42.8471% 8.6673% / 0.05);
  --shadow-md: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.05), 0rem 2px 4px -1px hsl(5.1616 42.8471% 8.6673% / 0.05);
  --shadow-lg: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.05), 0rem 4px 6px -1px hsl(5.1616 42.8471% 8.6673% / 0.05);
  --shadow-xl: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.05), 0rem 8px 10px -1px hsl(5.1616 42.8471% 8.6673% / 0.05);
  --shadow-2xl: 0rem 0.25rem 1.5rem 0rem hsl(5.1616 42.8471% 8.6673% / 0.13);
}

.dark {
  --background: oklch(0.1900 0.0300 26);
  --foreground: oklch(0.9671 0.0087 26.0200);
  --card: oklch(0.1900 0.0300 26);
  --card-foreground: oklch(0.9671 0.0087 26.0200);
  --popover: oklch(0.1900 0.0300 26);
  --popover-foreground: oklch(0.9671 0.0087 26.0200);
  --primary: oklch(0.3200 0.1162 12.4970);
  --primary-foreground: oklch(0.9671 0.0087 26.0200);
  --secondary: oklch(0.2400 0.0200 26);
  --secondary-foreground: oklch(0.9671 0.0087 26.0200);
  --muted: oklch(0.2400 0.0200 26);
  --muted-foreground: oklch(0.6800 0.0200 26);
  --accent: oklch(0.2400 0.0200 26);
  --accent-foreground: oklch(0.9671 0.0087 26.0200);
  --destructive: oklch(0.6400 0.1300 15);
  --destructive-foreground: oklch(0.9671 0.0087 26.0200);
  --border: oklch(0.2800 0.0200 26);
  --input: oklch(0.2800 0.0200 26);
  --ring: oklch(0.3200 0.1162 12.4970);
  --chart-1: oklch(0.3200 0.1162 12.4970);
  --chart-2: oklch(0.6000 0.1000 26);
  --chart-3: oklch(0.8000 0.0800 26);
  --chart-4: oklch(0.4000 0.0900 26);
  --chart-5: oklch(0.7000 0.0900 26);
  --sidebar: oklch(0.1700 0.0300 26);
  --sidebar-foreground: oklch(0.9671 0.0087 26.0200);
  --sidebar-primary: oklch(0.3200 0.1162 12.4970);
  --sidebar-primary-foreground: oklch(0.9671 0.0087 26.0200);
  --sidebar-accent: oklch(0.2400 0.0200 26);
  --sidebar-accent-foreground: oklch(0.9671 0.0087 26.0200);
  --sidebar-border: oklch(0.2800 0.0200 26);
  --sidebar-ring: oklch(0.3200 0.1162 12.4970);
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: oklch(0.05 0.00 0);
  --shadow-2xs: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.25);
  --shadow-xs: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.25);
  --shadow-sm: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.50), 0rem 1px 2px -1px hsl(223.8136 0.0000% 0.1615% / 0.50);
  --shadow: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.50), 0rem 1px 2px -1px hsl(223.8136 0.0000% 0.1615% / 0.50);
  --shadow-md: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.50), 0rem 2px 4px -1px hsl(223.8136 0.0000% 0.1615% / 0.50);
  --shadow-lg: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.50), 0rem 4px 6px -1px hsl(223.8136 0.0000% 0.1615% / 0.50);
  --shadow-xl: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 0.50), 0rem 8px 10px -1px hsl(223.8136 0.0000% 0.1615% / 0.50);
  --shadow-2xl: 0rem 0.25rem 1.5rem 0rem hsl(223.8136 0.0000% 0.1615% / 1.25);
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-be-vietnam-pro;
  }
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  letter-spacing: var(--letter-spacing);
}
/* Hello Paris Font Family */
@font-face {
  font-family: "Hello Paris";
  src: url("/Hello-Paris-Font-Family/HelloParisSerif-Medium.eot");
  src:
    local("Hello Paris Medium"),
    local("HelloParisSerif-Medium"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Medium.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Medium.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Medium.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hello Paris";
  src: url("/Hello-Paris-Font-Family/HelloParisSerif-Regular.eot");
  src:
    local("Hello Paris"),
    local("HelloParisSerif-Regular"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Regular.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Regular.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Regular.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hello Paris Extra";
  src: url("/Hello-Paris-Font-Family/HelloParisSerif-ExtraLight.eot");
  src:
    local("Hello Paris Extra Light"),
    local("HelloParisSerif-ExtraLight"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-ExtraLight.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-ExtraLight.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hello Paris";
  src: url("/Hello-Paris-Font-Family/HelloParisSerif-Light.eot");
  src:
    local("Hello Paris Light"),
    local("HelloParisSerif-Light"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Light.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Light.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Light.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hello Paris";
  src: url("/Hello-Paris-Font-Family/HelloParisSerif-Bold.eot");
  src:
    local("Hello Paris Bold"),
    local("HelloParisSerif-Bold"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Bold.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Bold.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Bold.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hello Paris Script";
  src: url("/Hello-Paris-Font-Family/HelloParisScript.eot");
  src:
    local("Hello Paris Script"),
    local("HelloParisScript"),
    url("/Hello-Paris-Font-Family/HelloParisScript.eot?#iefix") format("embedded-opentype"),
    url("/Hello-Paris-Font-Family/HelloParisScript.woff2") format("woff2"),
    url("/Hello-Paris-Font-Family/HelloParisScript.woff") format("woff"),
    url("/Hello-Paris-Font-Family/HelloParisScript.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  @keyframes zoom-out {
    0% {
      transform: scale(1.2);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-zoom-out {
    animation: zoom-out 0.5s ease-out forwards;
  }

  @keyframes gentle-float-right {

    0%,
    100% {
      transform: translateY(0px) rotate(0deg) scale(1);
    }

    20% {
      transform: translateY(-8px) rotate(-1.2deg) scale(1.03);
    }

    40% {
      transform: translateY(-15px) rotate(0.7deg) scale(0.97);
    }

    60% {
      transform: translateY(-6px) rotate(-0.9deg) scale(1.02);
    }

    80% {
      transform: translateY(-12px) rotate(1.1deg) scale(0.99);
    }
  }

  @keyframes gentle-float-left {

    0%,
    100% {
      transform: translateY(0px) rotate(0deg) scale(1);
    }

    25% {
      transform: translateY(-5px) rotate(1deg) scale(1.02);
    }

    50% {
      transform: translateY(-10px) rotate(-0.5deg) scale(0.98);
    }

    75% {
      transform: translateY(-3px) rotate(0.8deg) scale(1.01);
    }
  }

  .animate-gentle-float-right {
    animation: gentle-float-right 10s ease-in-out infinite;
    transform-origin: center;
  }

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate-gradient {
    0% {
      --gradient-angle: 0deg;
    }

    100% {
      --gradient-angle: 360deg;
    }
  }

  .animated-gradient-border {
    --gradient-angle: 0deg;
    animation: rotate-gradient 10s linear infinite;
    background: linear-gradient(var(--gradient-angle), var(--primary) 0%, #fff 50%, var(--primary) 100%);
  }
}